.reviews {
  padding-bottom: 150px;

  &__top {
    margin-left: calc(50% + 10px);
    margin-bottom: 100px;
    @media (max-width: 1280px) {
      margin-left: 0;
      margin-bottom: 75px;
    }
    @media (max-width: 480px) {
      margin-bottom: 30px;
    }
  }

  &__subtitle {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__title {
    font-size: 64px;
    font-weight: 800;
    text-transform: uppercase;
    @media (max-width: 1280px) {
      font-size: 44px;
    }
  }

  &__items {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 2fr 2fr 1fr;
    @media (max-width: 1280px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 480px) {
      grid-template-columns: 1fr;
    }
  }
  &__item:nth-child(even) {
    margin-top: 100px;
    @media (max-width: 1280px) {
      margin-top: 0;
    }
  }
  &__img {
    margin-bottom: 20px;
    max-width: 100%;
    @media (max-width: 1280px) {
      width: 100%;
    }
  }
}

.blockquote {
  margin: 0;

  &__text {
    margin-bottom: 15px;
  }

  &__cite {
    display: block;
    margin-bottom: 5px;
    text-align: right;
  }

  &__cite::before {
    content: "/";
  }

  &__time {
    display: block;
    text-align: right;
  }
}
