// Fonts
@import "./utils/fonts";

// Root
@import "./utils/variables";

// Base
@import "./base";

// Utils
@import "./utils/utils";

// Header
@import "./components/header";

/* Text container */

.text {
  padding-top: 150px;
  max-width: 1075px;
  text-transform: uppercase;
  font-size: 64px;
  font-weight: 800;
}

// About section
@import "./components/about-section";

// Activities section
@import "./components/activities-section";

// Reviews section
@import "./components/reviews-section";

// Footer
@import "./components/footer";

// Mixins
@import "./utils/mixins";

// TEST WITH MIXINS
// .cirle_test_1 {
//   @include circle(100px, 100px, white);
// }

// .cirle_test_2 {
//   @include circle(100px, 100px, green);
// }

/* Adding while doing adaptive */

@media (max-width: 1920px) {
  .header {
    padding-bottom: 50px;
  }
  .header__top {
    padding-top: 30px;
  }
  .header__news-box {
    margin-bottom: 20px;
  }
}

@media (max-width: 1500px) {
  .about__img {
    flex-basis: 50%;
  }
  .about__img img {
    width: 100%;
  }
}

@media (max-width: 1280px) {
  .about__content-title {
    margin-bottom: 20px;
  }
  .about__content {
    flex-basis: 50%;
  }
  .about__img {
    align-self: flex-end;
  }
  .reviews__top {
    margin-left: 0;
    margin-bottom: 75px;
  }
  .reviews__items {
    grid-template-columns: repeat(2, 1fr);
  }
  .reviews__item:nth-child(even) {
    margin-top: 0;
  }
  .reviews_img {
    width: 100%;
  }
  .reviews__title {
    font-size: 44px;
  }
}

@media (max-width: 992px) {
  .menu__btn {
    display: flex;
  }
  .menu__list {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-brand-blue);
    color: var(--color-primary-light);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    font-size: 24px;
    transform: translateY(-100%);
    transition: transform 0.3s;
  }
  .header__news {
    margin-top: 10px;
    margin-bottom: 30px;
    order: -1;
  }
  .header__content {
    flex-direction: column;
  }
  .header__info-list {
    width: 100%;
  }
  .header__info {
    gap: 50px;
  }
  .text {
    font-size: 40px;
    padding-top: 75px;
  }
  .about__inner {
    flex-wrap: wrap;
  }
  .about__content {
    flex-basis: 100%;
    max-width: 100%;
  }
  .about__img {
    flex-basis: 100%;
  }
  .about__advantages-list {
    margin-bottom: 50px;
  }
  .about,
  .site-images {
    margin-bottom: 50px;
  }
  .activities__inner {
    flex-wrap: wrap;
    margin-bottom: 50px;
  }
  .activities__title,
  .activities__content {
    flex-basis: 100%;
  }
  .activities__title {
    font-size: 44px;
  }
}

@media (max-width: 800px) {
  .activities__list {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer {
    padding: 75px 0;
  }
  .footer__title {
    font-size: 44px;
  }
  .footer__bottom {
    flex-wrap: wrap;
  }
}

@media (max-width: 570px) {
  .footer__top {
    flex-wrap: wrap-reverse;
    gap: 30px;
    justify-content: center;
  }
  .footer__info-list {
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 480px) {
  .header__buttons {
    flex-wrap: wrap;
  }
  .header__buttons-activities,
  .buttons-book {
    font-size: 24px;
    width: 100%;
    text-align: center;
  }
  .header__info-item,
  .about__advantages-item {
    font-size: 14px;
    padding: 8px 12px;
  }
  .header__info-list {
    gap: 10px;
  }
  .about__content-title,
  .activities__title {
    font-size: 44px;
  }
  .activities__parah {
    margin-bottom: 10px;
  }

  .activities__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .site-images {
    display: none;
  }

  .activities {
    margin-bottom: 75px;
  }
  .reviews__top {
    margin-bottom: 30px;
  }
  .reviews__items {
    grid-template-columns: 1fr;
  }
}
